@page "/material"

<PageTitle>Materials</PageTitle>



<div class="container">
    <h1 class="text-center">Materials Database</h1>

    @* Grid *@
    <div class="row">

        @* Displays on the left side*@
        <div class="col-lg-6">
            <fieldset style="border-radius: 5px">
                <legend class="text-center">Material List</legend>


                <div class="row ps-3 pe-3">
                    <div class="col-6" style="text-align:center">
                        <button @onclick=(HandleLoadingMaterialAsync) type="button" class="btn btn-primary">Load Material</button>
                    </div>
                    <div class="col" style="text-align:center">
                        <button @onclick=(HandleNewMaterial) type="button" class="btn btn-primary">New Material</button>
                    </div>
                </div>

                <hr />

                @* Filter by Category *@
                <div class="row p-3">
                    <div class="col-6">
                        <div style="text-align:center; font-weight:bold; padding: 3px">
                            <label for="search">Search Material</label>
                        </div>
                        <div>
                            <InputText style="width: 100%" id="search" @bind-Value="_searchText"/>
                        </div>
                        <div class="row" >
                            <div class="col p-2" style="text-align:center">
                                <button type="button" @onclick="HandleSearchText" class="btn btn-primary btn-sm">Search</button>
                            </div>
                            <div class="col p-2" style="text-align:center">
                                <button type="button" @onclick="HandleClearSearch" class="btn btn-primary btn-sm">Clear</button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col">
                        <div style="text-align:center; font-weight:bold; padding: 3px">
                            <label for="filter" >Filter by Category</label>
                        </div>
                        <div>
                            <InputSelect style="width: 100%" id="filter" TValue="string" Value="_selectedCategory" ValueExpression="@(() => _selectedCategory)" ValueChanged="HandleFilterByCategory">
                                <option value="All">All</option>
                                @foreach (string cat in _filterByCategory)
                                {
                                    <option value="@cat">@cat</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                </div>
                
                <hr />

                @* Displays a table of available material *@
                <div class="row pt-3 ps-3 pe-3">
                    <div class="fs-4" style="display: flex; justify-content: space-evenly; background-color: cadetblue; color: white">
                        <div @onclick="SortMaterialByName">Material</div>
                        <div @onclick="SortMaterialByCategoryThenName">Category</div>
                    </div>
                    <div style=" max-height:60vh; overflow:auto">
                        <table class="table table-bordered table-hover" style="width: 100%;">
                            @if (_materials.Count > 0)
                            {
                                <tbody>
                                    @foreach (MaterialModel material in _filteredMaterial)
                                    {
                                        <tr @onclick="(() => HandleSelectedMaterial(material))">
                                            <td style="vertical-align: middle; width:50%">@material.Name</td>
                                            <td style="vertical-align: middle; width:50%">@material.Category</td>
                                            @* <td class="text-center" style="vertical-align: middle"><button class="btn btn-primary btn-sm">Edit</button></td> *@
                                            @* <td class="text-center" style="vertical-align: middle"><button class="btn btn-danger btn-sm">Delete</button></td> *@
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>

                </div>
            </fieldset>
        </div>


        @* Displays on the right side*@
        <div class="col">
            <fieldset style="border-radius: 5px; max-height: 90vh; overflow:auto">
                <legend class="text-center">Selected Material Data</legend>

                @if (_material.Id > 0 && _canSave == false)
                {
                    <div style="text-align:center; display: flex; justify-content:space-evenly; margin-top: 3px">
                        <button @onclick="HandleEdit" type="button" class="btn btn-primary">Edit</button>
                        <button @onclick="HandleDeleteAsync" type="button" class="btn btn-danger">Delete</button>
                    </div>
                }


                <div style="padding: 10px; ">
                    <MaterialDataComponent MaterialData="_material" CanSave="_canSave" Disabled="_disabled" OnSave="(material) => HandleSaveAsync(material)"></MaterialDataComponent>
                </div>
            </fieldset>
        </div>
    </div>

</div>

